div {
  background-image: linear-gradient(black, grey);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10%;
}

div>h1 {
  font-size: 50px;
  color: grey;
  text-align: center;
}

div>h2 {
  font-size: 40px;
  color: white;
}

div>h2:hover {
  transform: scale(1.5);
}

button,
input {
  margin: 10px;
  border-radius: 20px;
  padding: 15px;
  border-color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: rgb(0, 0, 0);
}

button:hover {
  cursor: pointer;
  background-color: rgb(44, 90, 190);
  border-color: rgb(44, 90, 190);
  color: white;
}